.menu-top {
  &__jumbotron {
    background-color: $sand;
    background-image: url('./components/assets/beach-sand-stones.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 100%;
    &.jumbotron {
      margin-bottom: 0;
    }
  }
}
