.profile {
  &__profile-header {
    box-sizing: border-box;
    padding: 1em;
    .profile-header {
      &__main-tag {
        font-weight: bold;
      }

      &__location {
        .location {
          &__marker {
            color: $grey;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
